body, html {
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
  .bg-img {
    background-image: url("image/back2.jpg");
    min-height: 500px;
    background-position: center;
    background-size:cover;
    position: relative;
  }
  .top-right {
    position: absolute;
    color: red;
    top: 30px;
    right: 30px;
    /* transform: translate(-50%, -50%); */
  }
  .container-fluid {
    position: absolute;
    left: 0;
    margin: 10px;
    max-width: 280px;
    padding: 10px;
    background-color: white;
  }
  input{
    padding: 5px;
    margin: 2px 0 5px 0;
  }
  .tit{
      color:#04AA6D ;
  }
  .btn,tit {
    background-color: #04AA6D;
    color: white;
    padding: 2px 3px;
    border: none;
  }